name: Run C++ Program

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install g++ compiler
      run: sudo apt-get install -y g++

    - name: Compile C++ program
      run: g++ main.cpp -o main

    - name: Run the program
      run: ./main
